body {
    background-color: lightgrey;
    color: darkgray;
    font-family: 'Roboto';
    font-size: 1.5 rem;
}

#container {
    display: flex;
    flex-direction: column;
}

#my-library {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.library-card {
    background-color: whitesmoke;
}

ul {
    list-style: none;
}